<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/books">Books</a>
      <a href="/books/create">Add Book</a>
    </nav>
    {{{body}}}
  </body>
</html>
